.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#Layer_9 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 22;
    margin-top: 54px;
    margin-left: 25.576923%;
    clear: both;
}

#screen_angels_and_color_separations {
    float: left;
    font-size: 2.3125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 62px;
    margin-left: 15.769231%;
    clear: both;
}

#Developed_by_George_Seurat_in_1886_this_is_a_painting_techniq {
    float: left;
    font-size: 1.8125em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: normal;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    margin-top: 11px;
    margin-left: 11.25%;
    clear: both;
}

#pointillism {
    float: left;
    font-size: 3.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 13px;
    margin-left: 8.653846%;
    clear: both;
}

#the_halftone_process_was_usually_done_by_hand_the_human_print {
    float: left;
    font-size: 1.8125em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: normal;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 25;
    margin-top: 10px;
    margin-left: 11.25%;
    clear: both;
}

#the_human_printer {
    float: left;
    font-size: 3.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: 13px;
    margin-left: 8.55619%;
    clear: both;
}

#Created_in_the_1830’s_by_William_Fox_Talbot_as_a_solution_to_m {
    float: left;
    font-size: 1.8125em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: normal;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin-top: 12px;
    margin-left: 11.730769%;
    clear: both;
}

#halftone_history {
    float: left;
    font-size: 3.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin-top: 16px;
    margin-left: 8.75%;
    clear: both;
}

#a_process_which_uses_dots_of_varying_size_and_color_to_produce {
    float: left;
    font-size: 1.8125em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: normal;
    color: rgb(2, 2, 2);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin-top: 13px;
    margin-left: 11.730769%;
    clear: both;
}

#what_is_halftone_ {
    float: left;
    font-size: 3.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin-top: 119px;
    margin-left: 8.75%;
    clear: both;
}

#Layer_6 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 72px;
    margin-left: -23.942308%;
    clear: none;
}

#Layer_5 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 72px;
    margin-left: -63.461538%;
    clear: none;
}

#black {
    float: left;
    font-size: 3.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(2, 2, 2);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 34px;
    margin-left: 24.711538%;
    clear: none;
}

#yellow {
    float: left;
    font-size: 3.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(255, 242, 0);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 34px;
    margin-left: 25.961538%;
    clear: both;
}

#Layer_3 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 1062px;
    margin-left: -83.557692%;
    clear: none;
}

#Layer_4 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin-top: 95px;
    margin-left: -35.115431%;
    clear: none;
}

#cyan {
    float: left;
    font-size: 3.125em;
    width: 45.200486%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 403px;
    color: rgb(0, 174, 239);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: -262px;
    margin-left: -115.431349%;
    clear: none;
    display: none;
}

#magenta {
    float: left;
    font-size: 3.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(236, 0, 140);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin-top: 59px;
    margin-left: 58.444714%;
    clear: both;
}

#before {
    float: left;
    font-size: 2.0625em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin-top: 122px;
    margin-left: 13.244228%;
    clear: both;
}

#after {
    float: left;
    font-size: 3.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin-top: 32px;
    margin-left: 70.893454%;
    clear: both;
    margin-right: 0%;
}

#Layer_1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin-top: 724px;
    margin-left: -91.153846%;
    clear: none;
}

#Layer_2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 0px;
    margin-left: 6.925881%;
    clear: none;
    display: block;
}

#halftone {
    float: left;
    font-size: 6.25em;
    width: 55.480769%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 403px;
    color: rgb(2, 2, 2);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'American Typewriter';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin-top: 0px;
    margin-left: 44.519231%;
    clear: none;
    margin-right: 0%;
}

#Rectangle_1 {
    float: left;
    height: 1023px;
    width: 80.480769%;
    border: 7px solid rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 255px;
    margin-left: -83.365385%;
    clear: none;
}

